<div id="MainWrapper" clas"container-fluid" style="display:none;">
    <canvas style="position: absolute; top:0; z-index:999;" id="canvas" width="500" height="300"></canvas>
    <!-- Header Begin -->
    @Html.Partial("_Header")
    <!-- Header End -->
    <!-- About Me Section Begin -->
    <div class="about-top-line"></div>
    @Html.Partial("_AboutMe")
    <!-- About Me Section End -->
    <!-- My Skils Wrapper Section Begin -->
    <div class="my-skils-top-line"></div>
    @Html.Partial("_MySkils")
    <!-- My Skils Wrapper Section End -->
    <!-- My Certification Wrapper Section Begin -->
    <div class="my-skils-top-line"></div>
    @Html.Partial("_MyCertification")
    <!-- My Certification Wrapper Section End -->
    <!-- My Works page Begin -->
    <div class="my-works-top-line"></div>
    @Html.Partial("_MyWorks")
    <!-- My Works page End -->
    <!-- Contact me Wrapper Section Begin -->
    <div class="contact-top-line"></div>
    @Html.Partial("_ContactMe")
    <!-- Contact page End -->
    @Html.Partial("_Footer")
  

    <!-- Contact me Wrapper Section End -->
    <div id="ToggleNav">
        <a class="ribbons" href="#" target="_blank">English</a>
|
        <a class="ribbons" href="#" target="_blank">Frensh</a>
    </div>
</div>
